<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.icia.membership.dto.MembershipDTO" alias="membershipdto"/>
		<typeAlias type="com.icia.membership.dto.BoardDTO" alias="boarddto"/>
		<typeAlias type="com.icia.membership.dto.CommentDTO" alias="commentdto"/>
		<typeAlias type="com.icia.membership.dto.PageDTO" alias="pagedto"/>
	</typeAliases>
</configuration>
